<nav class="sticky top-0 bg-white shadow py-2 z-10">
  <ul class="mx-auto w-full px-12 md:max-w-3xl lg:max-w-4xl flex gap-x-4 items-center">
    <li class>
      <a href="{{ '/' | relative_url }}" class="text-2xl font-old text-fuchsia-700">naomi.fyi</a>
    </li>
    <li>
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>
  </ul>
</nav>